@model IEnumerable<SoLienLacDienTu.Models.LamQuenCodeFirst.Lop>
@{
    ViewBag.Title = "QLLop";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>QLLop</h2>
<div id="layoutSidenav" style="margin-left:0">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable</div>

                    <div class="card-body">


                        <div class="col-12">
                            <div class="col-2" style="float:left">
                                @using (Html.BeginForm("QLLop", "HomeAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <input type="file" name="file" />
                                    <br />
                                    <input type="submit" value="Import to database" class="btn btn-primary" />
                                }
                            </div>
                           @* <div class="col-2" style="float:left;padding-top:2.3%">
                                <a class="btn btn-primary" href="@Url.Action("ExcelToLop","HomeAdmin")">Export Excel</a>

                            </div>*@
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>MaLop</th>
                                        <th>MaGV</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var items in Model)
                                        {
                                            <tr>
                                                <td>@items.Malop</td>
                                                <td>@items.MaGV</td> 
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
