
@{
    ViewBag.Title = "Hotro";
    Layout = "~/Views/Shared/_GDSinhVien.cshtml";
}

<h2>Hotro</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />

        <div class="form-group">
         
            <div class="col-md-10">
                @Html.DropDownList("Sortby", new SelectListItem[] { new SelectListItem() { Text = "Đăng Ký Lớp", Value = "Uploadfile" }, new SelectListItem() { Text = "Đăng Ký Xin Bảng Điểm", Value = "DangKyXBD" } },
                new
                     {
                    @onchange = "CallChangefunc(this.value)"
                })
                
            </div>
        </div>

    </div>



}


    <script>
        function CallChangefunc(val) {
            window.location.href = "/SV/" + val;
        }
    </script>
