@model SoLienLacDienTu.Models.SinhVien

@{
    ViewBag.Title = "IndexPH";
    Layout = "~/Views/Shared/_GDPhuHuynh.cshtml";

}
<div class="col-lg-4">
    <div class="portfolio-info">
        <h3>Tìm kiếm sinh viên</h3>
        <div style="height:80px">
            <div class="panelContent" style="padding-left:4%">
                <div class="sll-form-seach">
                    <div>Tra cứu kết quả học tập</div>
               
                    <div id="login-div">
                        @using (Html.BeginForm("Login", "PH"))
                        {
                            <table>
                                <tr>
                                    <td style="padding-top:5%;width:50px">
                                        @Html.EditorFor(model => model.MaSV)
                                    </td>
                                    <td></td>
                                    <td style="padding-top:5%">
                                        <input type="submit" name="name" value="Tìm kiếm" />
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>@Html.ViewBag.mess</td>
                                </tr>
                            </table>
                        }
                        <p> Vui lòng nhập mã sinh viên</p>
                    </div>
                    <div class="result-search"><ul id="sll-list-item"></ul></div>
                </div>
            </div>
        </div>
        <br />
        <br />

        <div class="col-md-12" style="background:white">
            <div class="rightPanel">
                <div class="panelHeader">
                    <h4>HỖ TRỢ KỸ THUẬT</h4>
                </div>
                <div class="panelContent">
                    <ul>
                        <li>
                            <a href="tel:18001260">
                                <div class="textWrap">
                                    <span class="imgWrap fa fa-lg fa-phone-square"></span>
                                    <span class="textWrap">Hotline 24/7: <span class="hotline">18001260</span> <i>(Miễn phí)</i></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="textWrap">
                                    <span class="imgWrap fa fa-lg fa-lg fa-envelope"></span>
                                    <span class="hotlineMail">hotline@vnedu.vn</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
      
        <div class="col-md-12" style="padding:0%">

            <div class="panelContent">
                <div class="adImg">
                    <ul style="padding-left:0%">
                        <li>
                            <a href="http://lms.vnedu.vn" target="_blank"><span class="imgWrap"><center><img src="~/Images/vnedu_smartid.jpg" style="width:100% " /></center></span></a>
                            <br />
                        </li>

                        <li>
                            <a href="#" target="_blank"><span class="imgWrap"><center><img src="~/Images/vnedu_lms.jpg" style="width:100% " /></center></span></a><br />
                        </li>
                        <li>
                            <a href="https://play.google.com/store/apps/developer?id=VNPT+Group&amp;hl=vi" target="_blank"><span class="imgWrap"><center><img src="~/Images/banner_dong_2.gif" style="width:100% " /></center></span></a>
                            <br />
                        </li>
                        <li>
                            <a href="http://tkb.vnedu.vn/gioi-thieu/" target="_blank"><span class="imgWrap"><center><img src="~/Images/tkb1.jpg" style="width:100% " /></center></span></a>
                            <br />
                        </li>

                        <li>
                            <div class="fb-like-box" data-href="https://www.facebook.com/vnedu/likes" data-width="280" data-height="260" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true" style="background: #FFF"></div>
                            <br />
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>
    


    <div class="col-lg-8">
        <div class="portfolio-info">
            <div class="all-editor-webtube-item">
                <h3 class="title">Sổ liên lạc</h3>
                <div class="item text">
                    <div class="item-header">vnEdu Connect</div>
                    <div class="item-content">
                        <p class="MsoNormal" ><span style="font-family: arial;"><span style="mso-fareast-font-family: 'Times New Roman';">M</span>ỗ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: arial;">i h</span>ọ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: arial;">c sinh có m</span>ộ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: arial;">t b</span>ộ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: arial;"> H</span>ồ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: arial;"> s</span>ơ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: arial;"> ch</span>ứ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: arial;">a thông tin v</span>ề<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: arial;"> quá trình h</span>ọ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: arial;">c t</span>ậ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: arial;">p c</span>ủ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: arial;">a mình g</span>ọ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: arial;">i là H</span>ọ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: arial;">c B</span>ạ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: arial;"> Đi</span>ệ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: arial;">n T</span>ử<span style="mso-fareast-font-family: 'Times New Roman';"> (HBĐT). <br></span></span></p>
                        <p class="MsoNormal" ><span style="font-family: arial;">Ứ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: arial;">ng d</span>ụ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: arial;">ng </span></span><span style="font-family: arial;">sổ liên lạc (SLL) giúp phụ huynh tra cứu thông tin trong HBĐT của con mình.</span></p>
                        <p class="MsoNormal"><span style="font-family: arial;">Để tra cứu thông tin học sinh bạn có thể sử dụng các công cụ:</span></p>
                        <p class="MsoNormal"    ><span style="font-family: arial;">- <a href="http://vnedu.vn/so-lien-lac/">Tra cứu trên web</a></span></p>
                        <p></p>

                        <p class="MsoNormal" style="font-family: tahoma, arial, verdana, sans-serif;"><strong><span style="font-family: arial;"><span style="mso-fareast-font-family: 'Times New Roman';">&nbsp;</span></span></strong></p>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="item text">
                    <div class="item-content">
                        <p><span style="color: #000000; font-family: tahoma, arial, verdana, sans-serif; font-size: 12px;">Để có thể tra cứu SLLĐT trên website thi PHHS cần phải đăng ký sử dụng SLLĐT</span><br><br></p>
                        <div class="adv-sll">&nbsp;</div>
                        <p><strong style="font-family: tahoma,arial,verdana,sans-serif; font-size: 12px;">A. Đăng ký dịch vụ SLLLĐT:</strong></p>
                        <p><strong><em><span style="font-size: 12px;">1.</span></em><em><span style="font-size: 12px;">&nbsp;Đăng k</span></em><em>ý trực tiếp trên Phần mềm quản lý trường</em> <em>học vnEdu</em>:</strong> thông qua GVCN. Những học sinh này vừa có thể tra cứu KQHT trên website vừa có thể nhận được tin nhắn từ hệ thống vnEdu.</p>

                        <div><strong style="color: #000000; font-family: tahoma, arial, verdana, sans-serif; font-size: 12px;"><span style="background-color: #ffffff;">B. Tra cứu KQHT</span><br></strong><span style="color: #000000; font-family: tahoma, arial, verdana, sans-serif; font-size: 12px;">Sau khi đã đăng ký dịch vụ SLLĐT thành công, vào thời điểm nhà trường cho phép công bố điểm thi trên website thì PHHS có thể tra cứu kết quả học tập trên website</span><strong style="color: #000000; font-family: tahoma, arial, verdana, sans-serif; font-size: 12px;"><br>&nbsp;&nbsp;&nbsp; <br></strong></div>
                        <div>
                            <strong style="font-family: tahoma,arial,verdana,sans-serif; font-size: 12px;">1. Tra cứu trên website:</strong>
                            <ul style="color: #000000; font-family: tahoma, arial, verdana, sans-serif; font-size: 12px;">
                                <li>Mở trình duyệt website (FireFox, Chrome) truy cập vào địa chỉ: https://vnedu.vn/so-lien-lac/.</li>
                            </ul>
                            <ul style="color: #000000; font-family: tahoma, arial, verdana, sans-serif; font-size: 12px;">
                                <li>Làm theo các bước như trong hình minh họa dưới đây:</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="item photo">
                    <div class="item-content">
                        <img class="picture" src="/common/tracuu/huongdan.png">
                    </div>
                </div>
                <div class="clear"></div>
                <div class="item text">
                    <div class="item-content"><ul><li>Bấm nút&nbsp;<b>Xác nhận</b>.</li></ul></div>
                </div>
                <div class="clear"></div>

            </div>
            <div class="clear"></div>
        </div>
    </div>

