@{
    ViewBag.Title = "Home Page";
}
<div id="home" class="banner w3l">



    <div class="container">
        <div class="banner-info wow bounceInDown" data-wow-duration="1s" data-wow-delay="0s">
            <div class="callbacks_container">
                <ul class="rslides callbacks callbacks1" id="slider3">
                    <li id="callbacks1_s0" class="" style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;">
                        <div class="banner-text">
                            <h3>The best place for </h3>
                            <h4>education</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem ab illo.</p>
                            <div class="more-button">
                                <a href="#" data-toggle="modal" data-target="#myModal1">Read More</a>
                            </div>
                        </div>
                    </li>
                    <li id="callbacks1_s1" class="" style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;">
                        <div class="banner-text">
                            <h3>Better education for a</h3>
                            <h4>Better world</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem ab illo.</p>
                            <div class="more-button">
                                <a href="#" data-toggle="modal" data-target="#myModal1">Read More</a>
                            </div>
                        </div>
                    </li>
                    <li id="callbacks1_s2" class="callbacks1_on" style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms ease-in-out 0s;">
                        <div class="banner-text">
                            <h2 style="color:aliceblue">Cách thức đi đến thành công</h2>
                            <h4>Học Tập</h4>
                            <p>Nhưng tôi phải giải thích cho bạn hiểu làm thế nào mà tất cả những suy nghĩ sai lầm về niềm vui từ đó.</p>
                            <div class="more-button">
                                <a href="#" data-toggle="modal" data-target="#myModal1">Đọc thêm</a>
                            </div>
                        </div>
                    </li>
                    <li id="callbacks1_s3" class="" style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;">
                        <div class="banner-text">
                            <h3>Better education for a</h3>
                            <h4>Better world</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem ab illo.</p>
                            <div class="more-button">
                                <a href="#" data-toggle="modal" data-target="#myModal1">Read More</a>
                            </div>
                        </div>
                    </li>
                </ul><a href="#" class="callbacks_nav callbacks1_nav prev">Previous</a><a href="#" class="callbacks_nav callbacks1_nav next">Next</a><ul class="callbacks_tabs callbacks1_tabs"><li class="callbacks1_s1"><a href="#" class="callbacks1_s1">1</a></li><li class="callbacks1_s2"><a href="#" class="callbacks1_s2">2</a></li><li class="callbacks1_s3 callbacks_here"><a href="#" class="callbacks1_s3">3</a></li><li class="callbacks1_s4"><a href="#" class="callbacks1_s4">4</a></li></ul>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4>Thái Độ</h4>
                <img src="~/Content/images/bann.jpg" alt=" " class="img-responsive">
                <h5>THÁI ĐỘ HỌC TẬP LÀ GÌ ?</h5>
                <p>Thái độ học tập là trạng thái tinh thần được biểu hiện ra bên ngoài đối với việc tiếp thu kiến thức từ một môn học nào đó. Nói một cách dễ hiểu thái độ học tập chính là trạng thái tinh thần khi học sinh học tập.</p>
            </div>
        </div>
    </div>
</div>
<!-- //Modal1 -->
<!-- Events-Modal-Popup-->
<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4>Emphasize</h4>
                <img src="images/a1.jpg" alt=" " class="img-responsive">
                <h5>Emphasize Summer 2017</h5>
                <div class="detail-bottom">
                    <ul>
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>30 May</li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>LONDON, UK</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal2 -->
<!-- Modal3 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4>Emphasize</h4>
                <img src="images/a2.jpg" alt=" " class="img-responsive">
                <h5>Summer online courses</h5>
                <div class="detail-bottom">
                    <ul>
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>15 June</li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>BERLIN, GERMANY</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal3 -->
<!-- Modal4 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4>Emphasize</h4>
                <img src="images/a3.jpg" alt=" " class="img-responsive">
                <h5>Education tour 2017</h5>
                <div class="detail-bottom">
                    <ul>
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>25June</li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>VENICE, ITALY</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal4 -->
<!-- Modal5 -->
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4>Emphasize</h4>
                <img src="images/a4.jpg" alt=" " class="img-responsive">
                <h5>Good Results</h5>
                <div class="detail-bottom">
                    <ul>
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>01 July</li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>NEWYORK, USA</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal5 -->
<!-- //Events-Modal-Popup-->
<!-- about-agileits -->
<div class="about-agileits">
    <div class="container">
        <h3 class="heading-agileinfo">Về chúng tôi<span>Hutech University</span></h3>
        <div class="agileits_banner_bottom">
            <p>Trường Đại học Công nghệ TP.HCM – HUTECH tiền thân là Trường Đại học Kỹ thuật Công nghệ TP.HCM, được thành lập ngày 26/4/1995 theo quyết định số 235/QĐ -TTg của Thủ tướng Chính phủ và đi vào hoạt động theo quyết định của Bộ trưởng Bộ GD-ĐT số 2128/QĐ-GDĐT.</p>
        </div>
        <div class="w3ls_banner_bottom_grids">
            <ul class="cbp-ig-grid">
                <li>
                    <div class="w3_grid_effect">
                        <span class="cbp-ig-icon w3_road"></span>
                        <h4 class="cbp-ig-title">Chúng tôi là ai</h4>
                        <span class="cbp-ig-category">Hutech</span>
                    </div>
                </li>
                <li>
                    <div class="w3_grid_effect">
                        <span class="cbp-ig-icon w3_cube"></span>
                        <h4 class="cbp-ig-title">Chúng tôi làm gì</h4>
                        <span class="cbp-ig-category">Đào tạo</span>
                    </div>
                </li>
                <li>
                    <div class="w3_grid_effect">
                        <span class="cbp-ig-icon w3_users"></span>
                        <h4 class="cbp-ig-title">Hoạt động</h4>
                        <span class="cbp-ig-category">sôi nổi</span>
                    </div>
                </li>
                <li>
                    <div class="w3_grid_effect">
                        <span class="cbp-ig-icon w3_ticket"></span>
                        <h4 class="cbp-ig-title">Giảng viên</h4>
                        <span class="cbp-ig-category">Giàu kinh nghiệm</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- about-agileits -->
<!-- Stats -->
<div class="stats-agileits" id="stats">
    <div class="container">
        <h3 class="heading-agileinfo white-w3ls">Chúng tôi đào tạo sinh viên<span class="black-w3ls"><strong>Đội ngũ giảng viên giàu kinh nghiệm, năng động</strong></span></h3>
    </div>
    <div class="stats-info agileits w3layouts">
        <div class="container">
            <div class="col-md-3 agileits w3layouts col-sm-6 stats-grid stats-grid-1">
                <div class="numscroller agileits-w3layouts roller-title-number-1 scrollzip isShown" data-slno="1" data-min="0" data-max="2500" data-delay="3" data-increment="2">30k</div>
                <div class="stat-info-w3ls">
                    <h4 class="agileits w3layouts">Người theo dõi ngoài nước</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 agileits w3layouts stats-grid stats-grid-2">
                <div class="numscroller agileits-w3layouts roller-title-number-2 scrollzip isShown" data-slno="2" data-min="0" data-max="150" data-delay="3" data-increment="2">200</div>
                <div class="stat-info-w3ls">
                    <h4 class="agileits w3layouts">Giảng viên</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 stats-grid agileits w3layouts stats-grid-3">
                <div class="numscroller agileits-w3layouts roller-title-number-3 scrollzip isShown" data-slno="3" data-min="0" data-max="3421" data-delay="3" data-increment="2">30k</div>
                <div class="stat-info-w3ls">
                    <h4 class="agileits w3layouts">Sinh viên</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 stats-grid stats-grid-4 agileits w3layouts">
                <div class="numscroller agileits-w3layouts roller-title-number-4 scrollzip isShown" data-slno="4" data-min="0" data-max="210" data-delay="3" data-increment="2">210</div>
                <div class="stat-info-w3ls">
                    <h4 class="agileits w3layouts">Số tín chỉ </h4>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //Stats -->
<!--Events -->
<div class="events-agileits-w3layouts">
    <h3 class="heading-agileinfo">Sự kiện<span>Một số sự kiện sắp diễn ra</span></h3>

    <div class="popular-grids">
        <div class="col-md-3 popular-grid">
            <img src="~/Content/images/a1.jpg" class="img-responsive" alt="">
            <div class="popular-text">
                <h5><a href="#" data-toggle="modal" data-target="#myModal2">HUTECH-ERS SAY TRUE</a></h5>
                <div class="detail-bottom">
                    <ul>
                        <li><i class="fa fa-calendar" aria-hidden="true"></i> 05/12/2020</li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>TP.Hồ Chí Minh, VN</li>
                    </ul>
                    <p>HUTECH-ERS SAY TRUE do Trung tâm Văn hóa - Nghệ thuật HUTECH phối hợp cùng Phòng Tư vấn Tuyển sinh - Truyền thông thực hiện tại Fanpage Trung tâm Văn hóa - Nghệ thuật HUTECH, Fanpage Phòng Công tác sinh viên HUTECH và kênh Youtube Trung tâm Văn hóa - Nghệ thuật HUTECH.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 popular-grid">
            <img src="~/Content/images/a2.jpg" class="img-responsive" alt="">
            <div class="popular-text">
                <h5><a href="#" data-toggle="modal" data-target="#myModal3">Hội thao Viện Kỹ thuật HUTECH</a></h5>
                <div class="detail-bottom">
                    <ul>
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>29/11/2020</li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>TP.Hồ Chí Minh, VN</li>
                    </ul>
                    <p>Lễ khai mạc diễn ra tại Trung tâm Đào tạo Nhân lực Chất lương cao HUTECH (Khu Công nghệ cao TP.HCM, Q.9) với sự tham dự của TS. Nguyễn Văn Nhanh - Phó Viện trưởng Viện Kỹ thuật HUTECH, thầy Nguyễn Ngọc Linh - Phó Trưởng phòng Công tác sinh viên cùng các thầy cô, sinh viên của Viện.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 popular-grid">
            <img src="~/Content/images/a3.jpg" class="img-responsive" alt="">
            <div class="popular-text">
                <h5><a href="#" data-toggle="modal" data-target="#myModal4">Chuỗi hoạt động tham quan kiến tập</a></h5>
                <div class="detail-bottom">
                    <ul>
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>11-13/11/2020</li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>TP.Hồ Chí Minh, VN</li>
                    </ul>
                    <p>Hoạt động nằm trong chương trình đào tạo, giảng dạy của Viện nhằm giúp các bạn sinh viên có thêm những trải nghiệm nghề nghiệp thực tế, hữu ích cho việc định hướng phát triển, cải thiện mối quan hệ với các nhà tuyển dụng và chuẩn bị kế hoạch học tập trong tương lai.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 popular-grid">
            <img src="~/Content/images/a4.jpg" class="img-responsive" alt="">
          
            <div class="popular-text">
                <h5><a href="#" data-toggle="modal" data-target="#myModal5">Gặp gỡ chuyên gia ẩm thực</a></h5>
                <div class="detail-bottom">
                    <ul>
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>25/11/2020</li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>TP.Hồ Chí Minh, VN</li>
                    </ul>
                    <p>Hội thảo nhằm tạo cơ hội cho các bạn sinh viên ngành Quản trị nhà hàng và dịch vụ ăn uống - Viện Đào tạo Quốc tế gặp gỡ, học hỏi thêm kiến thức cùng các đầu bếp chuyên nghiệp và làm các món ăn với nguyên liệu là nho khô bang California - nguyên liệu cao cấp được sử dụng trong ẩm thực.</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //Events -->
<!--testimonials-->
<div id="testimonials" class="testimonials">
    <div class="container">
        <h3 class="heading-agileinfo">Ý kiến đóng góp của phụ huynh <span>Với chương trình đào tạo của nhà trường.</span></h3>
        <div class="flex-slider">
            <div class="nbs-flexisel-container">
                <div class="nbs-flexisel-inner">
                    <ul id="flexiselDemo1" class="nbs-flexisel-ul" style="left: -720px; display: block;">


                        <li class="nbs-flexisel-item" style="width: 720px;">
                            <div class="laptop">
                                <div class="col-md-8 team-right">
                                    <p>
                                       Ý kiến ban giám hiệu nhà trường
                                    </p>
                                    <div class="name-w3ls">
                                        <h5>Thompson</h5>
                                        <span>lorem ipsum</span>
                                    </div>
                                </div>
                                <div class="col-md-4 team-left">
                                    <img class="img-responsive" src="~/Content/images/test2.jpg" alt=" ">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li class="nbs-flexisel-item" style="width: 720px;">
                            <div class="laptop">
                                <div class="col-md-8 team-right">
                                    <p>
                                        như trên
                                    </p>
                                    <div class="name-w3ls">
                                        <h5>Federica</h5>
                                        <span>lorem ipsum</span>
                                    </div>
                                </div>
                                <div class="col-md-4 team-left">
                                    <img class="img-responsive" src="~/Content/images/test1.jpg" alt=" ">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li class="nbs-flexisel-item" style="width: 720px;">
                            <div class="laptop">
                                <div class="col-md-8 team-right">
                                    <p>
                                        Ý kiến ban giám hiệu nhà trường
                                    </p>
                                    <div class="name-w3ls">
                                        <h5>Thompson</h5>
                                        <span>lorem ipsum</span>
                                    </div>
                                </div>
                                <div class="col-md-4 team-left">
                                    <img class="img-responsive" src="~/Content/images/test2.jpg" alt=" ">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li class="nbs-flexisel-item" style="width: 720px;">
                            <div class="laptop">
                                <div class="col-md-8 team-right">
                                    <p>
                                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                        adipisci velit, sed quia non numquam.
                                    </p>
                                    <div class="name-w3ls">
                                        <h5>Federica</h5>
                                        <span>lorem ipsum</span>
                                    </div>
                                </div>
                                <div class="col-md-4 team-left">
                                    <img class="img-responsive" src="~/Content/images/test1.jpg" alt=" ">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul><div class="nbs-flexisel-nav-left" style="top: 119px;"></div><div class="nbs-flexisel-nav-right" style="top: 119px;"></div>
                </div>
            </div>

        </div>

    </div>
</div>
<!--//testimonials-->
<!-- footer -->